
body{margin: 3%;
    padding: 3%;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}
img{
    width:10%;
}

h6{
    margin-left: 3%;
    padding: 1%;
    color: red;
}
.main{
    margin-left: 3%;
    padding: 1%; 
}

input[type="text"]{
    width:60%
}

input[type="submit" ] {
    appearance: push-button;
    float: left;
    margin-left: 30%;
}

.button{
    
    padding: 0 12px;
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    border-radius: 2px;
    cursor: default;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}